.about {
  height: 100vh;
  background: linear-gradient(129.79deg, #075acd -111.46%, #000000 72.72%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
  position: relative;
}

.content {
  width: 75%;
  text-align: center;
}

h1 {
  color: white;
  font-size: 40px;
  font-weight: 400;
}

#lineGroup1 {
  position: absolute;
  top: 10%;
  left: 11%;
}

#lineGroup2 {
  position: absolute;
  top: 13%;
  left: 8%;
}

#lineGroup3 {
  position: absolute;
  bottom: 10%;
  right: 11%;
  transform: rotate(180deg);
}

#lineGroup4 {
  position: absolute;
  bottom: 13%;
  right: 8%;
  transform: rotate(180deg);
}
