.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  gap: 8vw;
  padding-top: 28px;
  font-size: 14px;
  font-weight: 400;
}

.logo {
  padding: 0 30px;
}

.navItem {
  cursor: pointer;
}
